BOT_TOKEN=
SHEET_ID=
SHEET_TAB=Custos
SHEET_EVENTS_TAB=Eventos
SHEET_CHECKINS_TAB=Checkins
TZ=America/Sao_Paulo
GOOGLE_CREDENTIALS_JSON=credentials/service_account.json   # usado só no dev local
GOOGLE_CREDENTIALS_JSON_CONTENT=                            # para produção (cole o JSON aqui)
LOGO_FILE_ID=
IRIS_CHAT_ID=
